
// ===== COLORS ===== //

colorPrimary = #7653FF
colorPrimaryBright = #D4C9FF


/// ===== FONTS ===== ///

fontsizeText = 14px


//// ===== CLASSES ===== ////

.InnerContainer
  display: flex
  max-width: 1400px
  min-width: 1024px