<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Internalizer</title>
  <% if (process.env.NODE_ENV == 'production') { %>
  <link rel="stylesheet" href="css/internalizer-<%= version %>.css" /><% } %>
</head>
<body>
  <div id="internalizer"></div>
  <script src="js/internalizer-<%= version %>.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
</body>
</html>