

:local(.TerminalHistoryRow)
  display: flex
  flex-direction: column

  .Base
    display: flex
    flex-direction: row

  .Cmd
    padding: 4px

  .Log
    display: flex
    flex-direction: column

    .LogLine
      display: flex
      line-height: 16px
      text-indent: 6px
