
:local(.TerminalInput)
  display: flex
  background: rgba(0,0,0,.4)

  input
    display: block
    flex: 1
    position: relative
    background: transparent
    border: none
    border-radius: 0
    padding: 4px

    &:active
    &:focus
      outline: none

  &.Disabled
    opacity: 0